.button {
    -fx-background-color: #fffcf7;
    -fx-border-color: #ff9100;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.button:hover {
    -fx-background-color: #FF9100;
    -fx-border-color: #ff9100;
    -fx-border-width: 2;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #FF9100;
    -fx-border-color: #ff9100;
    -fx-border-width: g;
}

.scroll-bar:vertical {
    -fx-background-color: #fffcf7;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #FF9100;
}